<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./sumonners.css">
    <link rel="stylesheet" href="../global.css">
    <script src="../global.js"></script>
    <script src="../lib/HTMLEscape.js"></script>
    <script src="../apikey.js"></script>
    <title>Summoners</title>
</head>
<body>

<nav>
    <a href="../frontpage/index.html">Frontpage</a>
    <a href="../summoners/summoners.html">Summoners</a>
    <a href="../matches/matches.html">Matches</a>
    <a href="../champions/champions.html">Champions</a>
</nav>



<script src="./summoners.js"></script>
<script src="./summonersMatches.js"></script>
</body>
</html>
