.single-match-card {
    background-color: #d0d0d0;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.single-match-card img {
    float:left;
    padding-right: 10px;
    margin-top: 7px;
    padding-bottom: 20px;
}

.match-info-wrapper {
    width: 150px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.player-info-wrapper {
    width: 350px;
    margin-top: 20px;
}

.participants-wrapper {
    width: 600px;
    display: flex;
    line-height: 1.5em;
    margin-top: 1.7vh;
}

.team-one {
    text-align:left;
    width: 150px;
}

.team-one-kda {
    text-align:left;
    width: 100px;
}

.team-two {
    text-align:left;
    width: 150px;
}

.team-two-kda {
    text-align:left;
    width: 100px;
    padding-right: 40px;
}

.team-splitter {
    background-color: darkslategrey;
    height: 90%;
    width: 3px;
    margin-right: 35px;
    margin-left: 35px;

}


.local-match-saving {
    flex-grow:1;
    max-width: 400px;
    margin-top: 10px;
}

.edit-button {
    width:225px;
}
.edit-button button {
    margin-top:20px;
    float: right;
    flex-grow: 1;
    width:150px;
    height: 50px;
    font-family: ejaVu Sans Mono, monospace;
    font-size: 0.8em;
    border: 3px solid #697378;
    background-color: #e8e8e8;
}

.edit-button button:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}
.textarea-input {
    background-color: #e8e8e8;
    margin-top: 20px;
}
.confirm-button  {
    font-family: ejaVu Sans Mono, monospace;
    font-size: 1em;
    border: 3px solid #697378;
    background-color: #e8e8e8;
}

.confirm-button:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}
