.single-match-card {
    background-color: #c5ded2;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.single-match-card img {
    float:left;
    padding-right: 10px;
    margin-top: 7px;
    padding-bottom: 20px;
}

.match-info-wrapper {
    width: 150px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.player-info-wrapper {
    width: 350px;
    margin-top: 20px;
}

.participants-wrapper {
    width: 600px;
    display: flex;
    line-height: 1.5em;
    margin-top: 1.7vh;
}

.team-one {
    text-align:left;
    width: 150px;
}

.team-one-kda {
    text-align:left;
    width: 100px;
}

.team-two {
    text-align:left;
    width: 150px;
}

.team-two-kda {
    text-align:left;
    width: 100px;
}

.team-splitter {
    background-color: darkslategrey;
    height: 90%;
    width: 3px;
    margin-right: 50px;
    margin-left: 20px;

}


.local-match-saving {
    flex-grow:1;
    max-width: 400px;
}
.edit-button {
    float: right;
}

