<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./champions.css">
    <link rel="stylesheet" href="../global.css">
    <script src="../global.js"></script>
    <script src="../lib/HTMLEscape.js"></script>
    <title>Champions</title>
</head>
<body>

    <nav>
        <a href="../frontpage/index.html">Frontpage</a>
        <a href="../summoners/summoners.html">Summoners</a>
        <a href="../matches/matches.html">Matches</a>
        <a href="../champions/champions.html">Champions</a>
    </nav>

</body>
</html>