<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./champions.css">
    <link rel="stylesheet" href="../global.css">
    <script src="../global.js"></script>
    <script src="../lib/HTMLEscape.js"></script>
    <script src="../apikey.js"></script>
    <title>Champions</title>
</head>
<body>

<nav class="menu">
    <ul>
        <li><a href="../frontpage/index.html">Home</a></li>
        <li><a href="../summoners/summoners.html">Summoners</a></li>
        <li><a href="../matches/matches.html">Saved Matches</a></li>
        <li><a href="../champions/champions.html">Champions</a></li>
    </ul>
</nav>

<div class="search-bar">
    <label>Champion name</label>
    <input id="champion-name-input">
    <button id="search-for-champion">Update Champions</button>
</div>
<div id="champion-wrapper">

</div>

<script src="./champions.js"></script>

</body>
</html>